#aufbau {
  height: 723.2px;
  background-color: #2d2d2d;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#aufbau .text-tri, .text-os {
  display: none;
}

/* Unternehmensgegenstand */

#aufbau .aufbau-leftside {
  width: 50%;
  color: white;
  display: inline-block;
  text-align: center;
  font-family: verdana;
  padding: 75px;
  box-sizing: border-box;
}

#aufbau .aufbau-leftside h2 {
  font-size: 2em;
  font-family: prime;
  margin: 26px 0;
}

#aufbau .aufbau-leftside h3 {
  font-family: prime;
  font-weight: 900;
  font-size: 1.4em;
  margin: 30px 0 15px;
}

#aufbau .aufbau-leftside > p {
  line-height: 1.5em;
}

#aufbau .aufbau-leftside .einkauf-section {
  display: inline-block;
  width: 50%;
  margin: 25px 0;
}

#aufbau .aufbau-leftside .verwaltung-section {
  float: right;
  width: 50%;
  margin: 25px 0;
}

#aufbau .aufbau-leftside .verkauf-section {
  display: inline-block;
  width: 50%;
}

#aufbau .aufbau-leftside .rechnungswesen-section {
  float: right;
  width: 50%;
}

/* Unterrichtskonzept */

#aufbau .aufbau-rightside {
  width: 50%;
  color: white;
  float: right;
  text-align: center;
  font-family: verdana;
  padding: 75px;
  box-sizing: border-box;
}

#aufbau .aufbau-rightside h2 {
  font-size: 2em;
  font-family: prime;
  margin: 26px 0;
}

#aufbau .aufbau-rightside > p {
  line-height: 1.5em;
}
