#aufbau {
  height: 723.2px;
  background-color: #2d2d2d;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#aufbau .text-tri, .text-os {
  display: none;
}

/* Unternehmensgegenstand */

#aufbau .aufbau-leftside {
  width: 50%;
  color: white;
  display: inline-block;
  text-align: center;
  font-family: verdana;
  padding: 75px;
  box-sizing: border-box;
  height: 470px;
}

#aufbau .aufbau-leftside h2 {
  font-size: 2em;
  font-family: prime;
  margin: 26px 0;
}

#aufbau .aufbau-leftside > p {
  line-height: 1.5em;
}

/* Unterrichtskonzept */

#aufbau .aufbau-rightside {
  width: 50%;
  color: white;
  float: right;
  text-align: center;
  font-family: verdana;
  padding: 75px;
  box-sizing: border-box;
  height: 470px;
}

#aufbau .aufbau-rightside h2 {
  font-size: 2em;
  font-family: prime;
  margin: 26px 0;
}

#aufbau .aufbau-rightside > p {
  line-height: 1.5em;
}

/* Organigramm */

#aufbau .aufbau-innersection h3 {
  font-family: prime;
  font-weight: 900;
  font-size: 1.4em;
  margin: 20px 0 30px;
  color: white;
  text-align: center;
}

#aufbau .aufbau-innersection p {
  font-family: verdana;
  color: white;
  text-align: center;
}

#aufbau .aufbau-innersection {
  padding: 0 40px;
}

#aufbau .aufbau-innersection > div {
  float: left;
}

#aufbau .aufbau-innersection > div {
  width: 25%;
  box-sizing: border-box;
  padding: 0 50px;
}

#aufbau .aufbau-innersection > div > div {
  border: solid 3px white;
  border-radius: 8px;
}

#aufbau .aufbau-innersection > div > div p {
  background-color: white;
  margin: 0;
  padding: 16px;
  color: #2d2d2d;
}

.einkauf-muster, .verwaltung-muster, .verkauf-muster, .rechnungswesen-muster {
  display: none;
}
