#home {
  background: url(../img/home_weltkarte.png) no-repeat;
  background-size: 85%;
  background-position: center;
  background-color: #2d2d2d;
  height: 723.2px;
  position: relative;
}

#home .home-overlay2 h2 {
  margin: 0;
  position: absolute;
  color: white;
  top: Calc(50% - 114px);
  left: Calc(50% - 236.76px);
  font-size: 12em;
  font-family: prime;
  text-shadow: -120px -50px rgba(65, 65, 65, 0.6);
}

#home .home-overlay2 img {
  position: absolute;
  top: Calc(50% - 92px);
  left: Calc(50% + 152px);
  width: 100px;
}

#home .mouse-section {
  position: absolute;
  bottom: 7%;
  left: Calc(50% - 43.165px);
}

#home .mouse-shape {
  border: solid 2px white;
  border-radius: 5px;
  width: 30px;
  height: 50px;
  margin: 0px 26.1065px;
}

#home .mouse-wheel {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  margin: 12px 12px 0px;
  animation: mouseWheelAnim ease-in 4.5s 3s infinite;
}

@keyframes mouseWheelAnim {
  0% {margin-top: 12px; opacity: 1;}
  10% {margin-top: 22px; opacity: 0;}
  20% {margin-top: 12px; opacity: 0;}
  22% {margin-top: 12px; opacity: 1;}
  100% {margin-top: 12px; opacity: 1;}
}

#home .mouse-divText p {
  color: white;
  font-size: 1.1em;
  font-weight: 100;
  font-family: prime;
  margin: 10px 0px 0px 0px;
}
