#home {
  background: url(../img/home_weltkarte.png) no-repeat;
  background-size: 1250px;
  background-position: center;
  background-color: #2d2d2d;
  height: 723.2px;
  position: relative;
  transition: ease-out 0.3s;
}

#home .home-overlay2 h2 {
  margin: 0;
  position: absolute;
  color: white;
  top: Calc(50% - 114px);
  left: Calc(50% - 236.76px);
  font-size: 12em;
  font-family: prime;
  text-shadow: -120px -50px rgba(65, 65, 65, 0.6);
  transition: ease-out 0.3s;
}

#home .home-overlay2 img {
  position: absolute;
  top: Calc(50% - 92px);
  left: Calc(50% + 152px);
  width: 100px;
  transition: ease-out 0.3s;
}

#home .mouse-section {
  position: absolute;
  bottom: 7%;
  left: Calc(50% - 43.165px);
  cursor: pointer;
}

#home .mouse-shape {
  border: solid 2px white;
  border-radius: 5px;
  width: 30px;
  height: 50px;
  margin: 0px 26.1065px;
}

#home .mouse-wheel {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  margin: 12px 12px 0px;
  animation: mouseWheelAnim ease-in 4.5s 3s infinite;
}

@keyframes mouseWheelAnim {
  0% {margin-top: 12px; opacity: 1;}
  10% {margin-top: 22px; opacity: 0;}
  20% {margin-top: 12px; opacity: 0;}
  22% {margin-top: 12px; opacity: 1;}
  100% {margin-top: 12px; opacity: 1;}
}

#home .mouse-divText p {
  color: white;
  font-size: 1.1em;
  font-weight: 100;
  font-family: prime;
  margin: 10px 0px 0px 0px;
}

/* Media Querys */

@media(max-width: 1080px) {
  #home {
    background-size: 1150px;
  }
}

@media(max-width: 930px) {
  #home {
    background-size: 1000px;
  }
  #home .home-overlay2 h2 {
    top: Calc(50% - 95.2px);
    left: Calc(50% - 197.3px);
    font-size: 10em;
    text-shadow: -95px -40px rgba(65, 65, 65, 0.6);
  }
  #home .home-overlay2 img {
    top: Calc(50% - 77px);
    left: Calc(50% + 126px);
    width: 85px;
  }
}

@media(max-width: 780px) {
  #home {
    background-size: 850px;
  }
}

@media(max-width: 630px) {
  /* #home {
    background-size: 700px;
  } */
  #home .home-overlay2 h2 {
    top: Calc(50% - 75.6px);
    left: Calc(50% - 158.3375px);
    font-size: 8em;
    text-shadow: -70px -30px rgba(65, 65, 65, 0.6);
  }
  #home .home-overlay2 img {
    top: Calc(50% - 63px);
    left: Calc(50% + 100px);
    width: 70px;
  }
}
