.ce_rsce_opensauce_jobs {
    height: 100%;
    width: 100%;
    font-family: Verdana;
}

#jobs {
  height: 723.2px;
}

#jobs .upper-div {
		text-align: center;
		background-color: #2d2d2d;
		font-weight: lighter;
		padding: 2%;
		color: white;
		height: auto;
}

.upper-div h3 {
	font-family: Prime;
	font-size: 3em;
	font-weight: lighter;
	color: white;
  margin-top: 58.005px;
}

.upper-div > p {
	white-space: pre-wrap;
  font-size: inherit;
  font-weight: lighter;
	margin: 3.3% 25% 2.1% 25%;
}

.upper-div a p {
  color: #2d3c6b;
  margin: 0px 0 79px 0;
}

.lower-div {
  text-align: center;
  background-color: white;
  font-weight: lighter;
  padding: 5.25% 2%;
  color: black;
  height: 50%;
}

div.kategorie-item {
    float: left;
    width: 25%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}

div.kategorie-item h4 {
  white-space: pre-wrap;
  font-size: inherit;
  font-weight: lighter;
  color: #2d2d2d;
}
