.ce_rsce_opensauce_jobs {
    height: 100%;
    width: 100%;
    font-family: Verdana;
}

.upper-div h3 {
	font-family: Prime;
	font-size: 3em;
	font-weight: lighter;
	color: black;
}

.upper-div {
		text-align: center;
		background-color: white;
		font-weight: lighter;
		padding: 2%;
		color: gray;
		height: auto;
}

.upper-div > p {
	white-space: pre-wrap;
  font-size: inherit;
  font-weight: lighter;
	margin: 0 25% 2% 25%;
}

.lower-div {
  text-align: center;
  background-color: white;
  font-weight: lighter;
  padding: 2%;
  color: black;
  height: 50%;
}

div.kategorie-item {
    float: left;
    width: 25%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}

div.kategorie-item h4 {
  white-space: pre-wrap;
  font-size: inherit;
  font-weight: lighter;
}
