#footer {
  background-color: #000000;
  height: 500px;
  padding: 90px 150px;
}

#footer > div {
  float: left;
}

#footer .verticalLine {
  background-color: #2d2d2d;
  width: 3px;
  height: 230px;
  border-radius: 1.5px;
}

/* Kontakt */

#footer .contact-section {
  padding: 30px 60px;
}

#footer .contact-section .contact-writeUs-email {
  margin: 13px 0 27px;
}

#footer .contact-section .contact-writeUs-email input {
  padding: 2px 6px;
  color: #2d2d2d;
  font-family: verdana;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #2d2d2d;
  outline: none;
  width: 79%;
}

#footer .contact-section .contact-writeUs-email input::-webkit-input-placeholder {
  color: #2d2d2d;
}

#footer .contact-section h6 {
  color: white;
  font-family: verdana;
  font-size: 1em;
  margin: 0;
  font-weight: 100;
}

#footer .contact-section .contact-location p {
  color: #2d2d2d;
  font-family: verdana;
  font-size: 0.85em;
  font-weight: 100;
}

#footer .contact-section .contact-bottom div {
  float: left;
}

/* Impressum */

#footer .impressum-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer .impressum-section ul li {
  margin: 25px 0;
}

#footer .impressum-section ul a {
  color: white;
  font-family: verdana;
  font-size: 1em;
}
