/* bruchts irgendwie - bisl verbugt oda so, ka */
#leistungen .leistungen-leftDiv .teaser-boxes-item {
  width: 0;
  margin: 0;
}


#leistungen {
  background-color: #2d2d2d;
  height: 723.2px;
  position: relative;
}

/* Linke Seite - Kategorien */

#leistungen .first {
  margin: 135px 0px 75px 60px;
}

#leistungen .leistungen-leftDiv {
  margin: 75px 0 75px 3.9494vw;
  position: relative;
  cursor: pointer;
}

#leistungen .leistungen-leftDiv h2 {
  font-family: verdana;
  font-size: 1.47em;
  color: grey;
  margin: 0;
  font-weight: 900;
}

#leistungen .leistungen-leftDiv p {
  font-family: prime;
  color: grey;
  letter-spacing: 0.01em;
  transition: ease-out 0.3s;
  font-size: 1em;
}

#leistungen .leistungen-leftDiv .leistungen-leftDiv-textLine {
  position: absolute;
  /* top: 85%; */
  width: 70px;
  height: 2px;
  border-radius: 2px;
  background-color: grey;
  transition: ease-out 0.3s;
}

/* Rechte Seite - Laptop */

#leistungen .leistungen-rightDiv {
  position: absolute;
  right: 0;
  top: 0;
  width: 750px;
  box-shadow: 0px 0px 25px #222222;
}

#leistungen .leistungen-rightDiv {
  display: none;
}

#leistungen .leistungen-rightDiv .teaser-boxes-item-image {
  position: absolute;
}

/* Javascript */

#leistungen .leistungenActive h2 {
  color: white;
}

#leistungen .leistungenActive p {
  color: white;
  padding-left: 25px;
}

#leistungen .leistungenActive .leistungen-leftDiv-textLine {
  background-color: white;
  margin-left: 30vw;
  width: 190px;
}

#leistungen .leistungenActive + .leistungen-rightDiv {
  display: block;
}

#leistungen .leistungen-rightDiv .teaser-boxes-item-image:nth-child(3) {
  animation: leistungenActive3Anim linear 10s infinite;
}

@keyframes leistungenActive3Anim {
  0% { opacity: 0; }
  45% { opacity: 0; }
  60% { opacity: 1; }
  75% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}

#leistungen .leistungen-rightDiv .teaser-boxes-item-image:nth-child(2) {
  animation: leistungenActive2Anim linear 10s infinite;
}

@keyframes leistungenActive2Anim {
  0% { opacity: 0; }
  15% { opacity: 0; }
  30% { opacity: 1; }
  45% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}

#leistungen .leistungen-rightDiv .teaser-boxes-item-image:nth-child(1) {
  animation: leistungenActive1Anim linear 10s infinite;
}

@keyframes leistungenActive1Anim {
  0% { opacity: 1; }
  15% { opacity: 1; }
  30% { opacity: 0; }
  85% { opacity: 0; }
  100% { opacity: 1; }
}

#leistungen .leistungen-rightDiv {
  background-color: #2d2d2d;
  height: 100%;
}

/* Media Querys */

@media(max-width: 1440px) {
  #leistungen .leistungen-leftDiv {
    margin: 75px 0 75px 2vw;
  }
}

@media(max-width: 1360px) {
  #leistungen .leistungen-leftDiv {
    margin: 75px 0 75px 0.2vw;
  }
}

@media(max-width: 1300px) {
  #leistungen .leistungen-rightDiv {
    transform: scale(0.9);
  }
}

@media(max-width: 1260px) {
  #leistungen .leistungen-rightDiv {
    transform: scale(0.8);
  }
}

@media(max-width: 1210px) {
  #leistungen .leistungen-rightDiv {
    transform: scale(0.7) translateX(50px);
  }
}

@media(max-width: 1140px) {
  #leistungen .leistungen-rightDiv {
    transform: scale(0.6) translateX(60px);
  }
}

@media(max-width: 1100px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center {
    height: 72.185%;
    overflow: hidden;
    position: relative;
  }
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    position: absolute;

  }
  #leistungen .leistungen-rightDiv {
    transform: scale(1) translateX(0);
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  #leistungen .leistungen-leftDiv {
    position: absolute;
    bottom: 0;
    z-index: 5;
    margin: 0;
    transform: scale(1);
  }
  #leistungen .leistungen-leftDiv .leistungen-leftDiv-textLine {
    width: 60px;
    top: 30px;
    transition: ease-out 0.2s;
    left: Calc(50% - 30px);
  }
  #leistungen .leistungen-leftDiv p {
    display: none;
  }
  #leistungen .leistungen-leftDiv h2 {
    font-size: 1.2em;
  }
  #leistungen .leistungenActive .leistungen-leftDiv-textLine {
    background-color: white;
    margin-left: 0px;
    width: 100px;
    left: Calc(50% - 50px);
  }
  #leistungen .leistungen-leftDiv:nth-child(1) {
    left: Calc(50% - 117.3875px);
    bottom: 22%;
  }
  #leistungen .leistungen-leftDiv:nth-child(3) {
    left: Calc(50% - 80.525px);
    bottom: 16%;
  }
  #leistungen .leistungen-leftDiv:nth-child(5) {
    left: Calc(50% - 171.219px);
    bottom: 10%;
  }
  #leistungen .leistungen-leftDiv:nth-child(7) {
    left: Calc(50% - 89.8185px);
    bottom: 4%;
  }
  /* #leistungen .leistungenActive:nth-child(4n+1) {
    left: 3%;
    transition: ease-out 0.3s;
  }
  #leistungen .leistungenActive:nth-child(4n+3) {
    left: 3%;
    transition: ease-out 0.3s;
  } */
}

@media(max-width: 1100px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    top: -115px;
  }
}

@media(max-width: 1000px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    top: -65px;
  }
}

@media(max-width: 660px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    top: -25px;
  }
}

@media(max-width: 580px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    top: 0px;
  }
}

@media(max-width: 550px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    height: 100%;
    width: 542.4px;
    left: Calc(50% - 271.2px);
  }
}

@media(max-width: 450px) {
  #leistungen .leistungen-rightDiv .leistungen-rightDiv-center .teaser-boxes-item-image {
    left: Calc(50% - 290.5px);
  }
}
