#leistungen .leistungen-leftDiv .teaser-boxes-item {
  width: 0;
  margin: 0;
}


#leistungen {
  background-color: #2d2d2d;
  height: 723.2px;
  position: relative;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

#leistungen .leistungen-leftDiv h2 {
  font-family: verdana;
  font-size: 1.4em;
  color: white;
  margin: 0;
  font-weight: 900;
}

#leistungen .leistungen-leftDiv p {
  font-family: prime;
  color: white;
}

#leistungen .leistungen-rightDiv {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
