html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.ce_rsce_opensauce_logo {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 20px;
  left: 20px;
}

.ce_rsce_opensauce_logo img {
  width: 35%;
}
