#menue {
  color: white;
  font-size: 1em;
  font-family: Prime;
  font-weight: 200;
  text-transform: uppercase;
}

.menuepunkt {
  margin: 2em 2em 2.4em 3.5em;
  position: relative;
  cursor: pointer;
}

.numbering {
    color: #2d2d2d;
    padding: 0px;
    margin: 0px;
}

#homepunkt {
  margin: 4em 7.5em 4em 3.5em;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
}

p {
  margin-top: 0.5em;
  padding-top: 0px;
  color: white;
}

#menue #menu-folded_in {
  display: block;
  background-color: RGB(0, 0, 0, 0.95);
  position: fixed;
  z-index: 1;
  right: 0;
  top: 55px;
  width: 29px;
  height: 23.488px;
  padding: 13px;
  cursor: pointer;
  transition: ease-out 0.3s;
}

#menue #menu-folded_in img {
  vertical-align: bottom;
}

#menue #menu-folded_out {
  display: block;
  background-color: RGB(0, 0, 0, 0.95);
  width: 258.264px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: -258.263px;
  transition: ease-out 0.3s;
}

#menue .menu-uppersection {
  margin-top: 50px;
  position: relative;
}

#menue .menu-uppersection .menu-uppersection-icon {
  position: absolute;
  width: 14%;
  top: -11px;
  right: 10px;
  padding: 15px;
  cursor: pointer;
}

/* Hoverline */

/* #menue .menu-folded_out .menu-hoverline-left {
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: -56.006px;
}

#wrapper #container #main .inside .mod_article.active + #menue {
  background-color: red;
} */
