/* Allgemein */

#ueberuns {
  height: 723.2px;
  background-color: white;
}

#ueberuns .teaser-boxes-item-image img {
  vertical-align: bottom;
}

#ueberuns .kategorie {
  height: 84px;
  background-color: #2d2d2d;
  transition: ease-out 0.3s;
  position: relative;
  cursor: pointer;
}

#ueberuns .kategorie:nth-child(2) {
  margin: 3px 0;
}

#ueberuns .kategorie .teaser-boxes-item-image {
  position: absolute;
  opacity: 0;
  transition: ease-out 0.3s;
}

#ueberuns .kategorie h3 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 1.55em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 84px;
  transition: ease-out 0.3s;
}

#ueberuns .kategorie p {
  display: none;
}

#ueberuns .kategorie ul {
  display: none;
}

/* Javascript - Allgemein */

#ueberuns .ueberUnsActive {
  height: 549px;
}

#ueberuns .ueberUnsActive .teaser-boxes-item-image {
  opacity: 1;
  height: 100%;
  width: 1520px;
  position: absolute;
  left: Calc(50% - 760px);
}

#ueberuns .ueberUnsActive .teaser-boxes-item-image img {
  height: 100%;

  /* overflow: hidden; */
}

#ueberuns .ueberUnsActive p {
  display: block;
}

#ueberuns .ueberUnsActive ul {
  display: block;
  margin-top: 6px;
}

#ueberuns .ueberUnsActive h3 {
  margin: 0;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: arial;
  font-size: 1.55em;
  font-weight: 100;
  text-transform: uppercase;
  /* letter-spacing: 0.19em; */
  background-color: #2d2d2d;
  line-height: 84px;
  padding: 0px 32px 0px 32px;
  /* border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom: solid 4px white;
  border-right: solid 4px white; */
  border-top-left-radius: 5px;
  background-color: #2d2d2d;
}

/* Javascript - Kategorie 1 */

#ueberuns .ueberUnsActive .kategorie1_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 26.6714%;
  top: 175px;
  left: 9.4128%;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie1_text2 {
  position: absolute;
  width: 25.3423%;
  top: 285px;
  right: 12.5066%;
  font-size: 1.1em;
  line-height: 1.43em;
  text-align: right;
}

#ueberuns .kategorie1 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
}

#ueberuns .kategorie1 h3 {
  position: absolute;
  right: Calc(50% - 58.775px);
}

/* Javascript - Kategorie 2 */

#ueberuns .kategorie2_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 25.6714%;
  top: 130px;
  left: 7.2407%;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie2_text2 {
  position: absolute;
  width: 29.2917%;
  top: 215px;
  right: 50px;
  font-size: 1.1em;
  line-height: 1.43em;
}

#ueberuns .kategorie2_text2 p {
  text-decoration: underline;
}

#ueberuns .kategorie2 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
}

#ueberuns .kategorie2 ul li {
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  list-style-type: square;
}

#ueberuns .kategorie2 h3 {
  position: absolute;
  right: Calc(50% - 112.9065px);
}

/* Javascript - Kategorie 3 */

#ueberuns .kategorie3_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 390px;
  top: 125px;
  left: 4.231%;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie3_text2 {
  position: absolute;
  width: 410px;
  top: 285px;
  right: 10.8736%;
  font-size: 1.1em;
  line-height: 1.43em;
}

#ueberuns .kategorie3 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  text-decoration: underline;
}

#ueberuns .kategorie3 ul li {
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  list-style-type: square;
}

#ueberuns .kategorie3 h3 {
  position: absolute;
  right: Calc(50% - 36.919px);
}

#ueberuns .ueberUnsActive h3 {
  right: 0;
}

/* Media Querys */

@media(max-width: 1220px) {
  #ueberuns .ueberUnsActive .kategorie1_text1 {
    position: absolute;
    font-size: 1.1em;
    line-height: 1.43em;
    width: 36.6714%;
    top: 115px;
    left: 9.4128%;
    text-shadow: 5px 5px 35px 35px black;
  }
  #ueberuns .kategorie1_text2 {
    position: absolute;
    width: 32.3423%;
    top: 320px;
    right: 12.5066%;
    font-size: 1.1em;
    line-height: 1.43em;
    text-align: right;
  }
}

@media(max-width: 680px) {
  #ueberuns .ueberUnsActive .kategorie1_text1 {
    width: 245px;
    top: 100px;
    left: 9.4128%;
  }
  #ueberuns .kategorie1_text2 {
    width: 216px;
    top: 300px;
    right: 12.5066%;
  }
}

@media(max-width: 1340px) {
  #ueberuns .kategorie2_text1 {
    width: 25.6714%;
    top: 130px;
    left: 7.2407%;
  }
  #ueberuns .kategorie2_text2 {
    width: 29.2917%;
    top: 275px;
    right: 50px;
  }
}

@media(max-width: 1010px) {
  #ueberuns .kategorie2_text1 {
    width: 255px;
    top: 100px;
    left: 8.2407%;
  }
  #ueberuns .kategorie2_text2 {
    width: 280px;
    top: 275px;
    right: 50px;
  }
}

@media(max-width: 1350px) {
  #ueberuns .kategorie3_text1 {
    width: 390px;
    top: 125px;
    left: 4.231%;
  }
  #ueberuns .kategorie3_text2 {
    width: 410px;
    top: 285px;
    right: 3.8736%;
  }
}

@media(max-width: 1250px) {
  #ueberuns .kategorie3_text1 {
    width: 390px;
    top: 125px;
    left: 4.231%;
  }
  #ueberuns .kategorie3_text2 {
    width: 410px;
    top: 285px;
    right: 1.8736%;
  }
}

@media(max-width: 1000px) {
  #ueberuns .kategorie3_text1 {
    width: 390px;
    top: 115px;
    left: 5.731%;
  }
  #ueberuns .kategorie3_text2 {
    width: 410px;
    top: 285px;
    right: 0.5736%;
  }
}

@media(max-width: 460px) {
  #ueberuns .kategorie3_text1 {
    width: 390px;
    top: 115px;
    left: 5.731%;
  }
  #ueberuns .kategorie3_text2 {
    width: 410px;
    top: 285px;
    left: 5.731%;
  }
}
