/* Allgemein */

#ueberuns {
  height: 723.2px;
  background-color: white;
}

#ueberuns .teaser-boxes-item-image img {
  vertical-align: bottom;
}

#ueberuns .kategorie {
  height: 84px;
  background-color: #2d2d2d;
  transition: ease-out 0.3s;
  position: relative;
  cursor: pointer;
}

#ueberuns .kategorie:nth-child(2) {
  margin: 3px 0;
}

#ueberuns .kategorie .teaser-boxes-item-image {
  display: none;
}

#ueberuns .kategorie h3 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: 1.55em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 84px;
}

#ueberuns .kategorie p {
  display: none;
}

#ueberuns .kategorie ul {
  display: none;
}

/* Javascript - Allgemein */

#ueberuns .ueberUnsActive {
  height: 549px;
}

#ueberuns .ueberUnsActive .teaser-boxes-item-image {
  display: block;
}

#ueberuns .ueberUnsActive p {
  display: block;
}

#ueberuns .ueberUnsActive ul {
  display: block;
  margin-top: 6px;
}

#ueberuns .ueberUnsActive h3 {
  margin: 0;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: verdana;
  font-size: 1.55em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  background-color: #2d2d2d;
  line-height: 84px;
  padding: 0px 32px 0px 32px;
  /* border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom: solid 4px white;
  border-right: solid 4px white; */
}

/* Javascript - Kategorie 1 */

#ueberuns .ueberUnsActive .kategorie1_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 390px;
  top: 233px;
  left: 143px;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie1_text2 {
  position: absolute;
  width: 385px;
  top: 285px;
  right: 190px;
  font-size: 1.1em;
  line-height: 1.43em;
  text-align: right;
}

#ueberuns .kategorie1 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
}

/* Javascript - Kategorie 2 */

#ueberuns .kategorie2_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 390px;
  top: 130px;
  left: 110px;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie2_text2 {
  position: absolute;
  width: 445px;
  top: 215px;
  right: 30px;
  font-size: 1.1em;
  line-height: 1.43em;
}

#ueberuns .kategorie2 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
}

#ueberuns .kategorie2 ul li {
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  list-style-type: square;
}

/* Javascript - Kategorie 3 */

#ueberuns .kategorie3_text1 {
  position: absolute;
  font-size: 1.1em;
  line-height: 1.43em;
  width: 390px;
  top: 135px;
  left: 40px;
  text-shadow: 5px 5px 35px 35px black;
}

#ueberuns .kategorie3_text2 {
  position: absolute;
  width: 445px;
  top: 185px;
  right: 150px;
  font-size: 1.1em;
  line-height: 1.43em;
}

#ueberuns .kategorie3 p {
  margin: 0;
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  text-decoration: underline;
}

#ueberuns .kategorie3 ul li {
  color: white;
  font-family: verdana;
  text-shadow: 1.5px 1.5px black;
  list-style-type: square;
}
